<!DOCTYPE html>
<html>
       <!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
        <main class="login">
            <% for(let i = 0; i < cart.length; i++){ %>
                <div class="col-12 col-sm-6 col-lg-3">
    
                    <section class="product-box">
                        
                            <a href="/products/detail/<%= cart[i].id %> >">
                                <figure class="product-box_image">
                                    <img src="/images/products/<%= cart[i].images[0].path %>" alt="imagen de producto">
                                </figure>
                                <article class="product-box_data">
                                    <h2><%= cart[i].price %></h2>
                                    <p><%= cart[i].title %></p>
                                    <i class="fas fa-truck"></i>
                                </article>
                            </a>
                            
                        </section>
                    </div>
                    <% } %>
        </main>
       <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
    </body>
</html>